<!-- Sidebar Section Start -->
<section id="sidebar">
  <img src="images/Sidebar_Metal_Gear.png" alt="LD Image" />
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</section>
<!-- Sidebar Section End -->

<!-- Navbar Section Start -->
<nav class="flex-child-container">
  <!-- Defines navigation links -->
  <img src="images/Navbar_Metal_Gear.png" alt="LD Image" />
  <div class="logo">Metal Gear Construction</div>
  <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  <div id="toggle"></div>
  <!-- toggle button onclik onpen section Id Sidebar-->
</nav>
<!-- Navbar Section End -->
