<%- include('partials/head') %> <%- include('partials/navigation') %>

<div
  id="carouselExampleIndicators"
  class="carousel slide flex-child-container"
  data-bs-ride="true"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="hero flex-child-container image-1">
        <div class="hero-text">
          <h1>Premium Designs and Constructions</h1>
          <p>
            We are committed to design and construct your dream house
            efficiently.
          </p>
          <button type="button" name="button">Learn More</button>
        </div>
      </div>
      <!-- <img src="images/company_building.jpg" class="d-block w-100" alt="..."> -->
    </div>
    <div class="carousel-item">
      <div class="hero flex-child-container image-2">
        <div class="hero-text">
          <h1>Premium Designs and Constructions</h1>
          <p>
            We are committed to design and construct your dream house
            efficiently.
          </p>
          <button type="button" name="button">Learn More</button>
        </div>
      </div>
      <!-- <img src="images/company_building.jpg" class="d-block w-100" alt="..."> -->
    </div>
    <div class="carousel-item">
      <!-- Hero Section Start -->
      <div class="hero flex-child-container image-3">
        <div class="hero-text">
          <h1>Premium Designs and Constructions</h1>
          <p>
            We are committed to design and construct your dream house
            efficiently.
          </p>
          <button type="button" name="button">Learn More</button>
        </div>
      </div>
      <!-- Hero Section End -->
      <!-- <img src="images/company_building.jpg" class="d-block w-100" alt="..."> -->
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Company Section Start -->
<section id="company" class="flex-child-container">
  <h1 class="heading">WHO WE ARE</h1>
  <div class="content">
    <div class="text-content">
      <h2>John<br /><span>Civil Engineer Director</span></h2>
      <p>
        Pellentesque faucibus justo nec tempus condimentum. Phasellus sagittis
        lacus malesuada felis gravida aliquet. Aenean at sem ac justo tincidunt
        ultricies. Mauris tincidunt mi et mi semper iaculis. Donec ut luctus
        ligula. Sed pulvinar efficitur sapien non hendrerit. Sed sagittis
        faucibus feugiat. Nunc eget leo at nisi volutpat posuere. Integer
        finibus lobortis ipsum, eu tristique justo. Duis quis quam at tortor
        sodales sagittis. Aliquam erat volutpat. Suspendisse in vulputate mi.
        Duis sed ante erat.
      </p>
    </div>
    <img class="image" src="images/company_building.jpg" alt="" />
  </div>
</section>
<!-- Company Section Start -->

<!-- Team Section Start -->
<section id="team" class="flex-child-container">
  <h1 class="heading">MEET OUR TEAM</h1>

  <div class="card-grid">
    <div class="card">
      <img src="images\profile_1.jpg" alt="" />

      <div class="content">
        <h2>John<br /><span>Civil Engineer Director</span></h2>
        <p>
          Pellentesque faucibus justo nec tempus condimentum. Phasellus sagittis
          lacus malesuada felis gravida aliquet. Aenean at sem ac justo
          tincidunt ultricies. Mauris tincidunt mi et mi semper iaculis. Donec
          ut luctus ligula. Sed pulvinar efficitur sapien non hendrerit. Sed
          sagittis faucibus feugiat. Nunc eget leo at nisi volutpat posuere.
          Integer finibus lobortis ipsum, eu tristique justo. Duis quis quam at
          tortor sodales sagittis. Aliquam erat volutpat. Suspendisse in
          vulputate mi. Duis sed ante erat.
        </p>
      </div>
    </div>

    <div class="card">
      <img src="images\profile_2.jpg" alt="" />
      <div class="content">
        <h2>Winston<br /><span>Civil Engineer Director</span></h2>
        <p>
          Pellentesque faucibus justo nec tempus condimentum. Phasellus sagittis
          lacus malesuada felis gravida aliquet. Aenean at sem ac justo
          tincidunt ultricies. Mauris tincidunt mi et mi semper iaculis. Donec
          ut luctus ligula. Sed pulvinar efficitur sapien non hendrerit. Sed
          sagittis faucibus feugiat. Nunc eget leo at nisi volutpat posuere.
          Integer finibus lobortis ipsum, eu tristique justo. Duis quis quam at
          tortor sodales sagittis. Aliquam erat volutpat. Suspendisse in
          vulputate mi. Duis sed ante erat.
        </p>
      </div>
    </div>

    <div class="card">
      <img src="images\profile_3.jpg" alt="" />
      <div class="content">
        <h2>Sofia<br /><span>Administrative Officer</span></h2>
        <p>
          Pellentesque faucibus justo nec tempus condimentum. Phasellus sagittis
          lacus malesuada felis gravida aliquet. Aenean at sem ac justo
          tincidunt ultricies. Mauris tincidunt mi et mi semper iaculis. Donec
          ut luctus ligula. Sed pulvinar efficitur sapien non hendrerit. Sed
          sagittis faucibus feugiat. Nunc eget leo at nisi volutpat posuere.
          Integer finibus lobortis ipsum, eu tristique justo. Duis quis quam at
          tortor sodales sagittis. Aliquam erat volutpat.
        </p>
      </div>
    </div>

    <div class="card">
      <img src="images\profile_4.jpg" alt="" />
      <div class="content">
        <h2>Emily<br /><span>Site Manager</span></h2>
        <p>
          Pellentesque faucibus justo nec tempus condimentum. Integer finibus
          lobortis ipsum, eu tristique justo. Duis quis quam at tortor sodales
          sagittis. Aliquam erat volutpat. Suspendisse in vulputate mi. Duis sed
          ante erat.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Team Section End -->

<%- include('partials/footer') %>
